//Colors
$backgroundColor: #f8f5e7; // Bakgrunnsfarge
$navTxtColor: #025966;     // Farge tekst navigasjonsbar
$blue: #026777;            // Main blåfarge
$lightBlue: #00a2bb;       // Lysere blåfarge
$darkBlue: #01373f;        // Mørkere blåfarge
$greyBorder: grey;         // Gråfarger til placeholder (tekstfelt) 
