// MOBILE VIEWPORT

@media only screen and (max-width: 641px) {
    .founders {
        display: block;
        align-self: center;
        justify-self: center;
        
    }
    .founder_image{
        display: block;
        width: 100px;
        border-radius: 50%;
        padding-top:20px;
        justify-self: center;
        align-self: center;
    }
}